{% extends 'layout.html' %} {% block head %}
<script src="https://unpkg.com/feather-icons"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='css.css') }}" />
<title>Dashboard</title>
<!-- <h1>Inventaris</h1> -->
{% endblock %} {% block navbar %}
<div class="">
  <a href="{{ url_for('home') }}">
    <span class="absolute !justify-start py-4 mx-4">

      <div class="text-medium ">
        <h1 class="sideimg fw-semibold ">Pempek Aseli Palembang</h1>
        <h1 class="sideimg   fw-semibold pgr ">#Pempek Nomor Satu</h1>
      </span>
      
      </div>
  </a>
  <nav class="text-decoration-none d-flex  text-dark navtext text-right  justify-end	">
    <div class="text-decoration-none d-flex  p-4 text-dark text-l  items-center  ">
      <a title="pempek-palembang"  class="mx-24 py-2 text-yellow-500 hover:text-yellow-800 duration-300 font-semibold"href="{{ url_for('home') }}">Home</a>
      <a title="pempek-palembang" class="p-2 text-yellow-500 hover:text-yellow-800 duration-300 font-semibold" href="{{ url_for('Variant') }}">Variant</a>
      <a  title="pempek-palembang" class="my-2 px-24 text-yellow-500 hover:text-yellow-800 duration-300 font-semibold "href="{{ url_for('logout') }}"><button class="bg-red-500 duration-300 hover:text-slate-500 hover:bg-red-800 text-white p-2 rounded-xl ">LOGOUT</button></a>
    </div>
  </nav>
</div>
{% endblock %} {% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Pempek</th>
      <th scope="col">Jumlah</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for p in data %}
    <tr >
      <th scope="row">{{ loop.index }}</th>
      <td>{{ p.2}}</td> 
      <td>{{ p.3 }}  </td>
      <td>{{ p.4 }}  </td>
      <td><a href="/hapus/{{ p.0 }}"><button  type="submit"  name="hapus" class="hover:text-red-500 duration-300 "><i id="id" data-feather="trash"> </button></i></a></td>
      <td><button class="hover:text-yellow-500 duration-300"><i id="id" data-feather="edit"> </button></i></td>
    
<div class="input-group mb-3">
  <label for="Jumlah Baru"></label>
  <input type="text" placeholder="Masukkan Jumlah Baru : " >
</div>
    {% endfor %}
  </tbody>
</table>
<script>
  // function hapusData(id) {
  //   if (confirm("Anda yakin ingin menghapus data dengan ID " + id + "?")) {
  //       var xhr = new XMLHttpRequest();
  //       xhr.open("GET", "/hapus_data/" + id, true);
  //       xhr.onreadystatechange = function () {
  //           if (xhr.readyState === 4 && xhr.status === 200) {
  //               var response = JSON.parse(xhr.responseText);
  //               if (response.status === "success") {
  //                   alert("Data berhasil dihapus");
  //                   location.reload();
  //               } else {
  //                   alert("Gagal menghapus data: " + response.message);
  //               }
  //           }
  //       };
  //       xhr.send();
  //   }
// }
</script>

{% endblock %}
