{% extends 'layout.html' %}
{% block head %}
    <title>Halaman Login</title>
{% endblock %}
{% block body %}
<div class="mt-5"></div>
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Halaman Login</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label for="" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="inpEmail">    
                    </div>
                    <div class="mb-3">
                        <label for="inpPass" class="form-label">Password</label>
                        <input type="password" class="form-control" name="inpPass">
                    </div>
                    <div class="d-grid !bg-blue">
                        <button type="submit" class="  bg-sky-500 hover:bg-sky-300 hover:text-zinc-500 border-transparent  btn btn-primary mt-4">Login</button>
                    </div>
                </form>
                <a href="{{ url_for('register') }}" class="nav-link my-2 d-flex justify-content-center">Register</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
